h1 {
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 60px;
}

h2 {
    color: brown;
    text-align: center;
}

* {
    background-color: green;
    padding: 0px;
    margin: 0px;
    
}